<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Not_Kayit_Sistemi.Properties.Settings.DbNotKsyıtConnectionString"
            connectionString="Data Source=emin\SQLEXPRESS;Initial Catalog=DbNotKsyıt;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>